@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&display=swap');


:root {
    --padding-contain: 64px 100px;
    --margin-contain: 64px 96px;
    --text-color: #030303;
    --main-color: #00abf0;
    --font-one: "Lora", "sans-serif";
    --other-font: "Hind Madurai", "sans-serif"
}
html {
    overflow-x: hidden;
}
*, body{
    /* background-color: #F1F1F1; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-one);
}

p, a, li {
    font-family: var(--other-font);
}


/******************************* NAVBAR *************************************/
 .navbar {
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #36F0EF;
    width: 300px;
    height: 100vh;
    padding: 20px 40px;
    z-index: 4;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
}

.hide-navbar {
    top: 100vh;
}

 .navbar img {
    height: 200px;
    width: 200px;
 }

.navbar-brand {
   font-size: 40px;
   font-weight: 900;
   color: var(--text-color);
}

.navbar a {
    text-decoration: underline;
    font-family: var(--font-one);
    background-color: #36F0EF;
}

.navbar-brand:hover{
    color: #000;
}

.navbar-brand::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: showRight 1s ease forwards;
    animation-delay: .5s;
}

.navbar-container {
    position: relative;
}

.navbar-nav {
    margin-top: 32px;
    background-color: #36F0EF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.navbar-nav li {
    list-style: none;
    margin: 8px 0;
    background-color: #fff;
    padding: 0;
    font-size: 20px;
    text-decoration: none;
    color: var(--text-color);
    transition: font-size .2s ease;
    text-align: left;
}

.navbar-nav li:hover{
    color: var(--main-color);
    font-size: 18px;
}
.navbar-nav li a {
    text-decoration: none;
    color: var(--text-color);
    display: block;
    width: 100%;
}

.navbar-nav li .fa-solid {
    font-size: 16px;
    margin-right: 8px;
}
.closeBtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 24px;
    cursor: pointer;

    display: none;
}

.navbar2 {
    display: none;
}

.navbar-toggler {
    display: none;
}

/******************************* NAVBAR END *************************************/

#develope {
    padding: 0;
    margin: 0;
    background-color: #F09B35;
    position: absolute;
    left: 290px;
    right: 0;
}

/* .change-left-position {
    left: 290px;
} */



/******************************* HEADER *************************************/
#home{
    width: 100%;
    padding: 190px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-box1 {
    text-align: left;
}

.container-box1 h3 {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.container-box1 h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.container-box1 h1 {
    position: relative;
    font-size: 48px;
    font-weight: 800;
    line-height: 40px;
}
.container-box1 h1:hover {
    color: transparent;
    -webkit-text-stroke: .7px var(--text-color);
}
.container-box1 h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}

.container-box1 p.slide{
    position: relative;
    margin: 24px 0 32px;
    max-width: 350px;
    font-size: 16px;
    letter-spacing: 1px;
}
.container-box1 p.slide::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    animation: showRight 1s ease forwards;
    animation-delay: 1.8s;
}
.container-box1 i {
    font-size: 16px;
    margin-right: 8px;
}


/* #home img{
    border-radius: 60% 40% 30% 70%/ 60% 30% 70% 40%;
} */

.icon-link-box {
    font-size: 30px;
}
.icon-link-box:hover {
   opacity: .8;
}

.tech {
    align-self: flex-end;
    margin-top: 56px;
}
.tech i {
    margin-left: 8px;
    font-size: 24px;
}

@keyframes showRight {
    100% {
      width: 0;
    }
}

/******************************* HEADER END *************************************/




/*****************************************ABOUT ME PART**************************/
#aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding-contain);
    letter-spacing: 1px;
    /* background-color: #F1F1F1; */
    color: var(--text-color);
}

.adiv{
    max-width: 550px;
    text-align: center;
    padding: 50px 40px;
}

#aboutme h2{
    font-size: 3rem;
    font-weight: 900;
    padding-bottom: 3rem;
}
#aboutme h3{
    font-size: 1.3rem;
    font-weight: 600;
}
#aboutme p{
    font-size: 15px;
}
.img-section {
    position: relative;
    top: 30px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.img-section .spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-top: none;
    border-bottom: none;
    border-left: .2rem solid #000;
    /* border-right: .2rem solid #e4b6b6; */
    border-right: .2rem solid #000;
    overflow: hidden;
}
.img-section img{
    width: 280px;
    height: 280px;
    border-radius: 50%;

    z-index: 2;
}
/******************************** ABOUT ME PART end *****************************/




/******************************** PROJECTS SHOW *********************************/
#project{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-project {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}


.container-project:nth-child(1){
    margin-right: 500px;
}

.container-project:nth-child(2) {
    margin-top: -80px;
    margin-left: 500px;
}

.container-project:nth-child(3) {
    margin-top: -100px;
    margin-right: 500px;
}

.container-project:nth-child(4) {
    margin-top: -80px;
    margin-left: 500px;
}

.container-project img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.second-part {
    padding: 20px;
}

.container-project a {
    width: 150px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #009688;
    color: #fff;
}

/******************************* PROJECT SHOW END *******************************/



/***************** CONTACT **********************/
#contact {
    margin: 150px 0;
}

#contact h2 {
    font-size: 48px;
    font-weight: 800;
    margin: 32px 0 16px 30px;
}

.container-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 10px 30px;
}
.email{
    background-color: #545454;
}
.location{
    background-color: #009688;
}
.number{
    background-color: #545454;
}

.number, .email, .location{
    color: #fff;
    /* font-size: 16px; */
    width: 100%; 
    font-weight: 600;
    padding: 20px 0;

    text-align: center;
}

.fa-solid {
    font-size: 40px;
    margin-bottom: 16px;
}

hr {
    margin: 40px 30px 0; 
}

.form-group {
    margin: 25px 30px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    opacity: .8;
    font-size: 15px;
    font-weight: 600;
    font-family: var(--other-font);
    margin-bottom: 8px;
}

.form-group input, .form-group textarea {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 2px;
}

button {
    padding: 10px 16px 0;
    margin: 0px 0 0 30px;
    font-size: 16px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
button .fa-solid {
    font-size: 16px;
}
/******************************* CONTACT ****************************************/
footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: var(--padding-contain);
}

footer h3 {
    font-size: 48px;
    font-weight: 800;
    line-height: 40px;
}

footer .link h5,
footer .social-net h5 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 32px;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer li{
    text-decoration: none;
    padding: 8xp 0;
    color: #000;
}
footer li a {
    text-decoration: none;
    color: #000;
}
footer li a:hover {
    text-decoration: underline;
    color: #000;
}

/* footer .link .link-img p a,
footer .social-net .social-net-links p a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
} */
/******************************* CONTACT end *************************************/

.copy{
    margin-bottom: 0;
    padding: 2rem 0 0;
    text-align: center;
    color: rgba(0, 0, 0);
    opacity: .5;
}




@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }
    .closeBtn {
        display: block;
    }
    .navbar2 {
        display: block;
        height: 70px;
        width: 100%;
        background-color: #fff;
    }
    .navbar2 div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 32px;
    }
    nav button {
        margin: 8px 0;
        color: #000;
        background: none;
    }

    .navbar-toggler{
        display: block;
    }

    #develope {
        left: 0;
    }
    #home{
        padding: 32px 64px;
    }

    .container-head {
        flex-direction: column;
    }

    .container-box1{
        text-align: center;
    }
   
    .container-box1 p.slide {
        max-width: none;
    }

    #aboutme{
        padding: 4% 1.5%;
    }

    
    #project .slide-container{
        padding-left: 0;
        margin: auto;
    }

    .container-project {
        width: 300px;
    }

    .container-project:nth-child(1){
        margin-right: 600px;
    }
    
    .container-project:nth-child(2) {
        margin-top: -80px;
        margin-left: 600px;
    }
    
    .container-project:nth-child(3) {
        margin-top: -100px;
        margin-right: 600px;
    }

    .container-project:nth-child(4) {
        margin-top: -80px;
        margin-left: 600px;
    }


    footer {
        flex-direction: column;
        align-items: center;
    }

    footer h1 {
        font-size: 32px;
    }

    .link,
    .social-net {
        padding-top: 32px;
    }
}

@media screen and (max-width: 650px){
    #home{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .tech {
        align-self: center;
        margin-top: 56px;
    }

    .container-project {
        width: 250px;
    }

    .container-project:nth-child(1){
        margin-right: 275px;
    }
    
    .container-project:nth-child(2) {
        margin-top: -80px;
        margin-left: 280px;
    }
    
    .container-project:nth-child(3) {
        margin-top: -100px;
        margin-right: 275px;
    }

    .container-project:nth-child(4) {
        margin-top: -80px;
        margin-left: 280px;
    }

    .container-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .number, .email {
        align-self: center;
    }
}



@media screen and (max-width: 370px) {
    .navbar {
        padding: 24px 48px;
    }
    #home {
        padding: 32px 48px;
    }

    #aboutme {
        margin-top: 48px;
    }

    .container-box1 p.slide {
        max-width: none;
    }

    .img-section {
        width: 200px;
        height: 200px;
    }
    .img-section .spin {
        width: 200px;
        height: 200px;
    }
    .img-section img{
        width: 185px;
        height: 185px;
        border-radius: 50%;
    }

    .container-project {
        margin: 16px auto;
        width: 70%;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .container-project:nth-child(1),
    .container-project:nth-child(2),
    .container-project:nth-child(3),
    .container-project:nth-child(4) {
        margin: 16px auto; /* Centered and consistent for all */
    }
}
    

@keyframes move {
    0% {
      transform: translateX(-50px);
    }
    100% {
      transform: translateX(0px);
    }
}


